<p>
  Displaying {{ users.length }} users.
</p>

<table>
  <thead>
  <tr>
      <th data-field="name">id</th>
    <th data-field="name">Name</th>
    <th data-field="name">Age</th>
    <th data-field="name">gender</th>
    <th data-field="name">mobile no</th>
    <th data-field="name">Edit</th>
    <th data-field="name">Delete</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
        <td>{{ user._id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.mobile }}</td>
      <td>
        <a [routerLink]="['/users', user._id]">
          <i class="material-icons">mode_edit</i>
        </a>
      </td>
      <td>
        <a (click)="deleteUser(user)" href="">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light green"
     routerLink="/users/new">
    <i class="material-icons">add</i>
  </a>
</div>
