/* .header {
    width: 1366px;
    height: 1353px;
    background-color: #ffffff;
  } */
  .Rectangle-1-copy-5 {
    width: 1366px;
    height: 107px;
    mix-blend-mode: undefined;
    background-color: #ffffff;
    box-shadow: 1.5px 2.6px 15px 0 rgba(0, 0, 0, 0.05);
  }
  .Conduira_Online-copy-4 {
    width: 1366px;
    height: 1353px;
    object-fit: contain;
    mix-blend-mode: undefined;
  }
  .DashboardNew-features {
    width: 1366px;
    height: 1353px;
    background-color: #ffffff;
  }
  
 
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}
.Rectangle-1-copy-5 {
    width: 1366px;
    height: 107px;
    mix-blend-mode: undefined;
    background-color: #ffffff;
    box-shadow: 1.5px 2.6px 15px 0 rgba(0, 0, 0, 0.05);
  }
  .Rounded-Rectangle-1-copy-14 {
    width: 113px;
    height: 37px;
    mix-blend-mode: undefined;
    border-radius: 18.5px;
    background-color: #f5f6f8;
  }
  .Dashboard {
      padding-top: 34px;
    width: 79px;
    height: 9px;
    mix-blend-mode: undefined;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2a80b9;
  }
  .LEARN {
    width: 41px;
    height: 9px;
    mix-blend-mode: undefined;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #34495e;
  }
  .PRACTIcE {
    width: 60px;
    height: 9px;
    mix-blend-mode: undefined;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #34495e;
  }
  .MODEL-TESTS {
    width: 85px;
    height: 9px;
    mix-blend-mode: undefined;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #34495e;
  }
  .VOCAB-PREP {
    width: 81px;
    height: 9px;
    mix-blend-mode: undefined;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #34495e;
  }
  .aCTIVITY {
    width: 56px;
    height: 9px;
    mix-blend-mode: undefined;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #34495e;
  }
  .Rectangle-1-copy-5 {
    width: 1366px;
    height: 107px;
    mix-blend-mode: undefined;
    background-color: #ffffff;
    box-shadow: 1.5px 2.6px 15px 0 rgba(0, 0, 0, 0.05);
  }