<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="input-field col s12">
       
        <i class="material-icons prefix">face</i>
        <input id="name" type="text" class="validate"
               [(ngModel)]="user.name" formControlName="name"
               [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid"
        >
        <label for="name"
               [class.active]="user.name"
               data-error="Name is required and needs to contain at least 3 chars">
          Name
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">hourglass_full</i>
        <input id="age" type="text" class="validate"
               [(ngModel)]="user.age" formControlName="age"
               [class.invalid]="form.controls['age'].touched && !form.controls['age'].valid"
        >
        <label for="age" [class.active]="user.age">
          Age
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">people</i>
        <input id="gender" type="text" class="validate"
               [(ngModel)]="user.gender" formControlName="gender"
               [class.invalid]="form.controls['gender'].touched && !form.controls['gender'].valid"
        >
        <label for="gender" [class.active]="user.gender" >
          Gender
        </label>
      </div>
    </div>
     <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <input id="mobile" type="text" class="validate"
               [(ngModel)]="user.mobile" formControlName="mobile"
               [class.invalid]="form.controls['mobile'].touched && !form.controls['mobile'].valid"
        >
        <label for="mobile" [class.active]="user.mobile" >
          Mobile no
        </label>
      </div>
    </div>
   
   
    
    <button class="btn waves-effect waves-light" type="submit"
            >
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>
