<table *ngIf="!showTable" class="table table-striped table-bordered">
    <thead>
    <tr>
    <th>s.no</th>
    <th>ID</th>
    <th>Value</th>
    <th>for/against</th>
    </tr>
</thead>
<tbody>
                <tr *ngFor="let field of fieldArray; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        <input [(ngModel)]="field.id" class="form-control" type="text" name="{{field.id}}" maxlength="16" />
                    </td>
                    <td>
                        <input [(ngModel)]="field.value" class="form-control" type="number" name="{{field.value}}" onKeyPress="if(this.value.length==10) return false;" />
                    </td>
                    <td>
                            
                        <input [(ngModel)]="field.tType" class="form-control" type="text" name="{{field.tType}}" />
                    </td>
                    <td>
                        <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                    </td>
                </tr>
                <tr>
                   
                    <td>
                        <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                    </td>
                </tr>
                <tr>
                        
                         <td>
                             <button class="btn btn-default" type="button" (click)="submitForm()">Submit</button>
                             <button class="btn btn-default" type="button" (click)="addFieldValue()">Cancel</button>
                             
                         </td>
                     </tr>
            </tbody>
        
 
       
</table>
<table *ngIf="showTable">
    
<thead>
    <tr><th>FOR</th></tr>
    <tr><th>ID</th>
    <th>VALUE</th></tr>
</thead>
<tbody>
    <tr *ngFor="let item of forArray; let i=index">
        <td *ngIf='item.id'>{{item.id}}</td>
        <td>{{item.value}}</td>
    </tr>
</tbody>

</table>
<table *ngIf="showTable">
        
    <thead>
        <tr><th>AGAINST</th></tr>
        <tr><th>ID</th>
        <th>VALUE</th></tr>
    </thead>
    <tbody>
            <tr *ngFor="let item of againstArray; let i=index">
                <td>{{item.id}}</td>
                <td>{{item.value}}</td>
            </tr>
        </tbody>
    
    </table>
    <table *ngIf="showTable">
            
        <thead>
            <tr><th>CLOSED</th></tr>
            <tr><th>ID</th>
            <th>VALUE</th></tr>
        </thead>
        <tbody>
                <tr *ngFor="let item of cancelArray; let i=index">
                    <td>{{item.id}}</td>
                    <td>{{item.value}}</td>
                </tr>
            </tbody>
        
        </table>
        <button *ngIf="showTable" class="btn btn-default" type="button" (click)="resetForm()">Reset</button>
        